<div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Team Members List</h3><br>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Powers</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td>{{ user.username }}</td>
            <td>{{ user.dateOfBirth | date }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button class="return" color="white" mat-raised-button type="submit" (click)="return()">Return</button>
  
  