<!-- <nav class="navbar navbar-light bg-light mb-5">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fas fa-sitemap"></i><h3>Projectio</h3></a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home"><i class="fa fa-home fa-lg" ></i><br>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login"><i class="fa fa-user-circle fa-lg"></i><br>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/register"><i class="fa fa-user-plus fa-lg"></i><br>Register</a>
      </li>
    </ul>
  </div>
</nav> -->

<div class="container text-center">
  <router-outlet></router-outlet>
</div>